!!!
%html
  %head
    %title Colorgetty
  %body
    %h1 Sample an Image from the web
    %form{action: "analyze", method: "post"}
      %input{type: "text", name: "image"}
      %input{type: "submit"}
